$sectionbackgroundcolor: #F8F8F8;
$normalcolor: #fff;
$primarybackgroud: #ff933b;
$mobilebackground: #202E3C;
$backgroundnormalcolor: #fff;

// linkon vai

$normalbg:#fff;
$headerbg:#202E3B;
$header-top-border:#F8F8F814;
$header-top-after:#FFFFFF99;
$bannerbg:#f8f8f8;

// maria apu

$bgcolor: #fff;
$bordcolor: #eee;