$fashionheadingcolor: #333;
$fashiontextcolor: #EEE;
$textnormalcolor: #fff;
$fashionleftmenucolor: #666;
$navcolor: #ff933b;

// linkon vai
$normal:#fff;
$header-top-color:#FFFFFF99;
$header-hover-color:#FF933B;
$nav-li:#666;
$menu-li:#333;


// maria apu
$headcolor: #333;
$gapcolor: #323334;
$paracolor: #666;
$boldcolor: #FF933B;
$bordercolor: #414C59;
$headingcolor: #eee;
$textcolor: #b0b2b5;
$bortextcolor: #fff;
$productcolor: #2879fe;
$shopcolor: #999;
$anocolor: #dedede;
$revcolor: #aaa;
$hovercolor: #336699;
$genacolor: #fff;